// Input
.Input {
  height: $input-height;

  .chat-form {
    display: flex;
    height: 100%;

    input,
    button {
      height: 100%;
    }
  }
  input {
    width: 70%;
  }
  .emoji-btn {
    width: 10%;
  }
  button {
    width: 20%;
    background: $blue;
    border: 3px solid $dark-blue;
    color: #fff;
  }
}

// Emoji Picker
.emoji-mart {
  position: absolute;
  bottom: $input-height;
}