// Input
.Input {
  height: $input-height;
  border-top: 1px solid $light-grey;

  .chat-form {
    display: flex;
    align-items: flex-end;
    padding: 0.3rem;
    height: 100%;

    .textarea-autosize,
    button {
      height: 40px;
      border: 2px solid $dark-blue;
      border-radius: 5px;
    }
  }
  .textarea-autosize {
    width: 70%;
    margin: 0 0.4rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.3rem;
  }
  .emoji-btn {
    width: 10%;
  }
  button {
    width: 20%;
    background: $blue;
    color: #fff;
  }
}

// Emoji Picker
.emoji-mart {
  position: absolute;
  bottom: $input-height;
}

.emoji-mart-preview {
  display: none;
}