// Variables
$blue: #0080f8;
$dark-blue: #0067c7;
$light-grey: #eeedf1;
$input-height: 80px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: Arial;
  background: #272727;
}

// Typography
h1 {
  font-size: 1.5rem;
}

@import "./animation";
@import "./components/app/app";
@import "./components/join/join";
@import "./components/infobar/infobar";
@import "./components/messages/messages";
@import "./components/message/message";
@import "./components/input/input";
