// App
.App {
  max-width: 450px;
  min-width: 250px;
  height: 80vh;
  margin: 0 auto;
  margin-top: 4rem;
  animation: fade-in 500ms ease;
  
  .outer-container,
  .inner-container {
    background: #fff;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}